.box-color{
    background-color: rgb(245, 36, 78);
    height: 80px;
    border-radius: 10px;
}

.box-color2{
    background-color: rgb(47, 247, 184);
    height: 80px;
    border-radius: 10px;
}

.box-color3{
    background-color: rgb(237, 200, 35);
    height: 80px;
    border-radius: 10px;
}

.box-color4{
    background-color: rgb(70, 70, 222);
    height: 80px;
    border-radius: 10px;
}